<div class="w-full">
  <h1 class="mx-auto text-lg font-bold text-4xl">Welcome</h1>

  <p>
    <p>
    It's <%= Time.now.strftime("%A, %d, %B, %Y") %>.
    </p>
    <p>We have <%= pluralize(@total_orders, "order") %> in total.</p>
</div>
