<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Pragmatic Cart</h2>

  <ul class="list-none list-inside">
    <% cart.line_items.each do |item| %>
      <li><%= item.quantity %> &times; <%= item.product.title %></li>
    <% end %>
  </ul>
  <%= button_to "Clear cart", cart_path(cart), method: :delete, class: "ml-4 rounded-lg py-1 px-2 text-white bg-green-600" %>
</div>
